.icons {
  font-size: 22px;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sidebar{
    width: 390px;
    display: flex;
    flex-direction: column;
    /* overflow-y:auto; */
    /* overflow-x:hidden; */
    /* max-height: 100vh; */
    /* position: absolute; */
    background-color: white;
  }
  .sidebarButton {
    display: block;
  }


  .textField{
    width: 250px;
    height: 35px;
    margin: 10px
  }

  .textLabel{
    font-size:20px;
  }

  .loginFormstyle{
    margin: 100px;
  }